<h1>Our team</h1>

<ul>
  <% @members.each do |member| %>
    <li><%= member %></li>
  <% end %>
</ul>

<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?" value="<%= params[:member] %>">
  <input type="submit">
</form>